.wrapper-header{
  display: flex;
  align-items: center;
  padding: 40px 0 40px 120px;
}

.title{
  margin-left: 10px;
  color: Dark Navy;
  font-size: 22px;
}

@media (max-width: 500px) {
  .wrapper-header {
    padding: 10px 0 40px 20px;

  }
}